:root{
    --neo: 0em .1em 1.5em #000, 0 -1em 1.5em #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ddd;
}
.carrousel{
    width: 90%;
    max-width: 1200px;
    margin: 1em auto;
    padding: 1em;
    overflow-x: hidden;
    box-shadow: var(--neo);
    border: 2px solid #eee;
    border-radius: 20px;
}
.carrousel .image__container{
    width: 400%;
    
    box-shadow: var(--neo);
    border: 2px solid #eee;
    border-radius: 10px 10px 0 0;
    padding: 1em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    transition: all .3s ease;
}
.carrousel .image{
    width: calc(100% / 4 - 2em);
    max-height: 600px;
    min-height: 10vh;
    border-radius: 10px;

    box-shadow: var(--neo);
    border: 1px solid #eee;
}
.carrousel .points{
    width: 100%;
    background-color: transparent;
    padding: 1em;

    border-radius: 0 0 20px 20px;
    box-shadow: var(--neo);
    border: 3px solid #eee;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.carrousel .point{
    width: 1.5em;
    height: 1.5em;
    margin: 0 1em;
    list-style: none;

    border-radius: 50%;
    box-shadow: var(--neo);    
    border: 1px solid #eee;

}
.carrousel .point.active{
    background-color: #3d3;
}